<div class="text-center mt-4">
  <div class="top-box d-flex justify-content-center">
    <h1>My Profile</h1>
    <%= image_tag "profile-pic.png", class:"pie-chart" %>
  </div>
</div>

<div class="container d-flex flex-column bd-highlight">
  <%if user_signed_in?%>
    <%if @my_service != nil%>
      <div class="my-dashboard-card m-3 dashboard-cards p-3">
        <div class="position-of-service-jobs d-flex justify-content-around">
          <div class="my-service">
            <h2>My Service</h2>
            <%= cl_image_tag @my_service.photo.key, height: 300, width: 400, crop: :fill %>
            <p class="mt-4"><strong>Description:</strong> <%= @my_service.description %></p>
            <p><strong>Price:</strong> <%=@my_service.price %>€</p>
            <div class="my-service-buttons d-flex">
              <div class="button-1 m-2">
                <%= link_to "Edit", edit_partner_path(@my_service) %>
              </div>
              <div class="button-1 m-2">
                <%= link_to "Delete", partner_path(@my_service), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
              </div>
            </div>
          </div>

          <div class="my-jobs">
            <div class="my-jobs-info">
            <h2>My Clients</h2>
            <%if @my_jobs != []%>
              <% @my_jobs.each do |job| %>
                <div class="card p-4 m-2">
                  <p> <strong><%=job.user.username %></strong> Booked you!</p>
                  <p> <strong>From:</strong> <%=job.start_date %> <strong>To:</strong> <%= job.end_date %> </p>
                  <p> + <%=(((job.end_date - job.start_date).to_i*24)* job.partner.price )%> € </p>
                </div>
              <% end %>
            <% else %>
            <div class="card p-4 m-2">
                  <p>No Clients in queue!</p>
                </div>

            <% end %>
          </div>
        </div>
      </div>

      </div>
    <% else %>
      <div class="btn btn-success">
        <%= link_to "List yourself as a partner!", new_partner_path %>
      </div>
    <% end %>

    <div class="sec-box mt-4">
      <div class="top-box d-flex justify-content-center">
        <h1 class="text-center">My bookings</h1>
        <%= image_tag "booking-confirmation.png", class:"pie-chart" %>
      </div>
      <div class="my-bookings m-3 dashboard-cards-2 ps-3 pe-3 pb-3 pt-2">
        <%if @my_bookings.count >= 1%>
          <% @my_bookings.each do |booking| %>
            <h2><%= booking.partner.name %></h2>
              <div class="mt- d-flex justify-content-between">
                <%= cl_image_tag booking.partner.photo.key, height: 150, width: 150, crop: :fill %>
                <div class="right-box">
                  <p> <strong>From:</strong> <%= booking.start_date %> <strong>To:</strong> <%= booking.end_date %></p>
                  <p> <strong>Cost:</strong> <%=((booking.end_date - booking.start_date)* 24) * booking.partner.price %> € </p>
                  <div class="cancel-btn d-flex align-items-baseline">
                    <img src="https://cdn.betterttv.net/emote/5baaf017ed3de76aa4212261/3x" alt="sad" width="40px">
                    <%= link_to "Cancel" , booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
                  </div>
                </div>
              </div>
              <hr>
          <% end %>
        <% else %>
          <h2>I'm sorry but no bookings were found...</h2>
          <div class="container d-flex justify-content-center align-items-start">
            <div class="pepe">
              <%= image_tag "pepe_sad" %>
            </div>
          </div>
        <% end %>
      </div>
      <% else %>
      <h1>User not loged in...</h1>
      <% end %>
    </div>
  </div>
